CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

.gdb_history
peda-*
build*/*

*.o
Makefile.in
*.m4
*.cache
compile
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
.deps
.dirstamp
*.save
config.guess
config.h
config.h.in
config.log
config.status
config.sub
usbmuxd2/Makefile
Makefile

build-usbmuxd2-*
usbmuxd2/usbmuxd
systemd/usbmuxd.service
udev/39-usbmuxd.rules
config.h.in~
Build/
configure~
xcuserdata
project.xcworkspace
xcshareddata
cache_wrkdir
*buildroot*
*.deb
*.control